@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-slate-800 hover:text-slate-900;
}

input, select, textarea {
  @apply placeholder:text-slate-400;
}
